[Desktop Entry]
Name=COSMIC
Comment=This session logs you into the COSMIC desktop
Comment[sv]=Denna session loggar in dig till skrivbordsmiljön COSMIC
Exec=start-cosmic
Type=Application
DesktopNames=COSMIC
